@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap';

.dark {
  --textColor: #fbf5e5;
  --background: #34342f;
  --secondBackground: #42413c;
  --secondText: #97948a;
  --green: #8ec07c;
  --blue: #83a598;
  --gray: #cbc5b7;
  --brown: #bf8f6c;
  --orange: #e78a4e;
  --yellow: #d8a657;
  --purple: #a78ac5;
  --pink: #d3869b;
  --red: #e9806e;
}

.light {
  --background: #fbf5e5;
  --secondBackground: #eee8d9;
  --textColor: #333;
  --secondText: #83817b;
  --green: #92cb7d;
  --blue: #afcfc3;
  --gray: #cbc5b7;
  --brown: #d8a078;
  --orange: #ff9957;
  --yellow: #f5b95a;
  --purple: #bc9bde;
  --pink: #e993ab;
  --red: #fb8773;
}

.body {
  margin: 0;
  background: var(--background);
  color: var(--textColor);
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
