.root {
  width: 60%;
  padding-block: 15vh;
  padding-inline: 20%;
}

.appIcon {
  display: grid;
  width: 100%;
  margin-bottom: 15vh;
  place-items: center;
}

.appTitle {
  margin-bottom: 5vh;
  text-align: center;
  @include fontType(2.5rem);
}

.appDescriptionContainer {
  display: flex;
  justify-content: space-between;
}

.description {
  width: 35%;
  border-radius: 10px;
  background-color: var(--secondBackground);
  padding-block: 3%;
  padding-inline: 5%;
  transition: 0.2s;
}

.descriptionText {
  transition: 0.2s;
  @include fontType(1.2rem, var(--textColor));
}
