.root {
  display: flex;
  width: 4em ;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  gap: 0.6em;
  padding-block: 0.5em;
  transition: 0.2s;

  @include hover {
    gap: 0.9em;
  }
}

.dot {
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
}
