.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10vh;
  padding-block: 15vh;
  padding-inline: 20%;

  @include desktop {
    width: 80%;
    padding-inline: 10%;
  }

  @include bigTablet {
    width: 90%;
    padding-inline: 5%;
  }
}

.montserratContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  .montserratTitle {
    font-family: Montserrat, sans-serif;
  }

  .montserratName {
    align-self: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    white-space: normal;
    word-break: break-all;
  }

  .montserratDescription {
    margin-bottom: 0;
  }
}

.robotoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .robotoName {
    align-self: center;
  }

  .robotoDescription {
    font-family: Roboto, sans-serif;
  }
}

.montserratContainer,
.robotoContainer {
  @include bigTablet {
    flex-direction: column;
  }
}

.title {
  width: 45%;
  @include fontType(3.5rem, _, 600);

  @include desktop {
    word-wrap: break-word;
    @include fontType(3rem, _, 600);
  }

  @include bigTablet {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}

.description {
  margin-bottom: 0;
}

.descriptionContainer {
  width: 40%;
  padding-block: 2em;
  @include fontType(1.4rem, _, 500);

  @include desktop {
    width: 48%;
  }

  @include bigTablet {
    width: 90%;
    text-align: center;
  }
}

.fontName {
  margin-top: 0;
  @include fontType(2.5rem, _, 600);
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}
